<div>
<h2>Create Quiz</h2>
<%= form_for(@quiz) do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %> </br>
        
        <%= f.label :subject %>
        <%= f.text_field :subject %>
    </div>
    <%= f.submit "Submit" %>
<% end %>
</div>